<div class="container-fluid bg-bleuFonce pt-2">
    <div class="row">
      <nav aria-label="fil_ariane ">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"></i><a class="text-white" href="/">Accueil</a></li>
            <li class="breadcrumb-item"><a class="text-white" href="/creation">Profil</a></li>
            <li class="breadcrumb-item"><a class="text-white" href="/personnages">Comptabilité</a></li>
            <li class="breadcrumb-item active texte-light" aria-current="page">Rapport</li>
        </ol>
      </nav>
    </div>      
  </div>      
  </header>