</main>
<footer id="footer" class="container-fluid bg-bleuFonce">
    <div class="row py-3">
        <figure class="text-center">
            <blockquote aria-label="citation" class="blockquote">
                <i class="citation text-white">"Un comptable compétent annonce la veille ce que les économistes
                    prévoient le jour même pour le lendemain."</i>
            </blockquote>
            <figcaption class="blockquote-footer text-white">de Miles Thomas</figcaption>
        </figure>

        <nav class="text-center text-white pt-2">
            <ul>
                <li><a class="text-white" href="#">Contactez-nous</a></li>
                <li>copyright© 2022 - <a class="text-white" href="mailto:info@logixiel.com">info@logixiel.com</a></li>
                <li><a class="text-white" href="#">Conditions d'utilisation</a></li>
            </ul>
        </nav>
    </div>
</footer>
</body>

</html>