<!DOCTYPE html>
<html lang="fr">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="/css/style.css" rel="stylesheet">
  <link rel="stylesheet" href="/bootstrap-icons/font/bootstrap-icons.css">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>

</head>

<body>
  <header>
    <!-- Skip link-->
    <a class="visually-hidden-focusable" href="#footer">
      <button class="btn btn-primary visually-hidden-focusable"><i class="bi-chevron-down"></i></button>
    </a>
    <!-- BARRE DE NAVIGATION HORIZONTALE-->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <a class="navbar-brand p-1" href="/"><img src="/images/logo-logixiel-comptable.svg" alt="logixiel"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/">Accueil</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Partager</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Connexion</a>
            </li>
          </ul>
          <form class="d-flex">
            <input class="form-control me-2" type="rechercher" placeholder="Rechercher" aria-label="Rechercher">
            <button class="btn btn-outline-success" data-bs-toggle="modal" data-bs-target="#Modal" type="button"><i
                class="bi bi-search"></i></button>
          </form>
        </div>
      </div>
    </nav>


    <!-- MODAL -->
    <div class="modal fade" id="Modal" tabindex="-1" aria-labelledby="ModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title" id="ModalLabel">Informations</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <nav class="links-modal modal-body btn-link d-flex flex-column">
            <ul>
              <div>
                <li><a href="https://fr.wikipedia.org/wiki/Comptabilit%C3%A9_de_gestion">Gestion de comptabilité</a></li>
              </div>
              <div>
                <li><a href="https://revenuquebec.ca/fr/entreprises/taxes/tpstvh-et-tvq/declaration-de-la-tps-et-de-la-tvq/">Déclaration
                    des taxes</a></li>
              </div>
              <div>
                <li><a
                    href="https://www.canada.ca/fr/agence-revenu/services/impot/particuliers/sujets/tout-votre-declaration-revenus/declaration-revenus/remplir-declaration-revenus/feuillets-renseignements.html">Feuillets
                    d'impôts</a></li>
              </div>
              <div>
                <li><a href="https://www.canada.ca/fr/services/entreprises/lancer.html">Services entreprises</a></li>
              </div>
              <div class="modal-footer btn-link">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
              </div>
            </ul>
          </nav>
        </div>
      </div>
    </div>


    <!-- FIL D'ARIANE -->



    <!-- BARRE DE NAVIGATION VERTICALE -->