<main >
      
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-2 bg-primary">
        <nav>
          <ul class="nav flex-column">
            <li class="nav-item py-3">  
              <i class="bi-person-fill icon"></i> 
              <a class="nav-link text-white active" aria-current="page" href="/creation">PROFIL</a>      
            </li>      
            <li class="nav-item py-3"> 
              <i class="bi-calculator-fill icon"></i>     
              <a class="nav-link text-white" href="/personnages">COMPTABILITÉ</a>      
            </li>      
            <li class="nav-item py-3">
              <i class="bi-file-earmark-bar-graph-fill icon"></i>      
              <a class="nav-link text-white" href="/rapport">RAPPORT</a>      
            </li>
          </ul>
        </nav>
      </div>