<%- include('./partials/layout'); -%>
  <%- include('./partials/ariane'); -%>
    <%- include('./partials/navertical'); -%>
      <div class=" col-10">
        <div class="col-12 card-group">
          <div class="card text-center" style="min-width: 16rem;">
            <img src="/images/employe.svg" class="card-img-top" alt="employé">
            <div class="card-body d-flex flex-column">
              <h1 class="card-title fs-3">EMPLOYÉ</h1>
              <p class="card-text">Si vous êtes employé dans une entreprise, ce logiciel vous permettra de mieux gérer
                vos dépenses et vos revenus. Vous pourrez facilement être à jour sur le plan financier et vous préparez
                pour l'avenir.</p>
              <a href="/defaut" class="btn btn-primary stretched-link mt-auto">En savoir plus</a>
            </div>
          </div>
          <div class="card text-center" style="min-width: 16rem;">
            <img src="/images/chef-entreprise.svg" class="card-img-top" alt="chef d'entreprise">
            <div class="card-body d-flex flex-column">
              <h1 class="card-title fs-3">CHEF D'ENTREPRISE</h1>
              <p class="card-text">En tant que chef d'entreprise, ce logiciel vous permettra de faire votre saisie de
                données. Vous économiserez des frais de comptabilité tout en gagnant en autonomie. En effet, vous
                déchargerez votre comptable de la responsabilité de saisir vos factures lors d'un service mensuel,
                trimestriel ou annuel.</p>
              <a href="/defaut" class="btn btn-primary stretched-link mt-auto ">En savoir plus</a>
            </div>
          </div>
          <div class="card text-center" style="min-width: 16rem;">
            <img src="/images/auto-entrepreneur.svg" class="card-img-top" alt="auto-entrepreneur">
            <div class="card-body d-flex flex-column">
              <h1 class="card-title fs-3">AUTO ENTREPRENEUR</h1>
              <p class="card-text">Si vous êtes travailleur autonome, certaines catégories de dépenses ne peuvent pas
                être déduites à 100 %. Dans ce cas, le logiciel permet de calculer automatiquement les pourcentages
                alloués. </p>
              <a href="/defaut" class="btn btn-primary stretched-link mt-auto">En savoir plus</a>
            </div>
          </div>
          <div class="card text-center" style="min-width: 16rem;">
            <img src="/images/retraite.svg" class="card-img-top" alt="retraité">
            <div class="card-body d-flex flex-column">
              <h1 class="card-title fs-3">RETRAITÉ</h1>
              <p class="card-text">Le logiciel est facile d’utilisation. L’objectif est de simplifier votre gestion
                comptable au quotidien. Toutefois, si vous avez besoin d’aide à propos d’une fonction du logiciel qui
                serait moins simple, nous avons une documentation facile à lire qui inclut la recherche de sujets
                précis.</p>
              <a href="/defaut " class=" btn btn-primary stretched-link mt-auto ">En savoir plus</a>
            </div>
          </div>
        </div>
      </div>
      </div>
      </div>
      </main>


      <%- include('./partials/footer'); -%>